/* Show container bounds */
div, span {
	border: 2px dashed;
	border-color: #ccc;
}

.nobound {
	border: 0px none;
}

.task02 {
	display: flex;
	justify-content: space-evenly;
}

.task02-external {
	color: darkorange;
}
