* {
	font-size: 1.1rem;
	/*font-style: dashed;*/
}

/* Show container bounds */
/* Task 02 */
div, span {
	border: 2px dashed;
	border-color: #ccc;
}

.nobound {
	border: 0px none;
}

.task02 {
	display: flex;
	justify-content: space-evenly;
}

.task02-external {
	color: darkorange;
}

/* Won't be used */
.task02-inline {
	color: hsl(0, 50%, 40%);
}

/* Task 03 */
/* Container for task03 demonstration */
.task03 {
	height: 500px;
	display: flex;
	align-items: center;
	align-content: space-evenly;
	justify-content: space-evenly;
	padding: 8px;
	flex-wrap: wrap;
}

.task03 > *:hover {
	box-shadow: 0px 6px 10px 2px rgba(200, 0, 0, 0.4);
	background-color: #ff8;
	transition: 0.4s;
	cursor: pointer;
}

.task03 > * {
	box-shadow: 0px 3px 4px 2px rgba(200, 0, 0, 0.2);
	border-radius: 10px;
	transition: 0.4s;
	background-color: #ed3;
	padding: 1em;
	max-width: 200px;
}

.task03 > *:nth-child(odd) {
	background-color: #ccf;
}

/* Class or id selector */
#id03 {
	text-shadow: 6px -6px 2px;
}

.id03 {
	text-shadow: -0px -3px 4px;
}

/* |= selector */
[class|="agent003"] {
	color: #389;
}

[class="agent003-wavy"] {
	text-decoration: wavy underline;
}


/* Won't be ever seen */
[class^="007"] {
	text-decoration: wavy line-through;
}


*[class*="agent003"]:first-letter {
	font-size: 2em;
	color: maroon;
}

.agent003_underlined {
	text-decoration: dashed underline;
}

/* Task 04 */
.task04 {
	max-height: 150px;
	overflow: scroll;
}

.task04-block {
	width: 100%;
	height: 30px;
	background: #f45;
	border-left: 4px solid #333;
	margin: 4px;
	padding: 4px;
}

.task04-pos-fixed {
	position: fixed;
	right: 20px;
	top: 10px;
	width: 30px;
	background: darkblue;
}

.task04-pos-absolute {
	position: absolute;
	right: 200px;
	top: 100px;
	width: 30px;
	background: gold;
}

.task04-pos-relative {
	position: relative;
	top: +12px;
	left: +12px;
	background: magenta;
}

.task04-pos-sticky {
	position: sticky;
	top: -1px;
	background: lime;
}

/* Task 06 */
.task06 > * {
	margin: 1.4em;
}

.task06-01 > p {
	display: list-item;
	list-style: inside;
}

.task06-01 > p:nth-child(1) {
	list-style-image: url("img/color_picker_4_16x16x1.png");
}
.task06-01 > p:nth-child(2) {
	list-style-image: url("img/move_4_16x16x1.png");
}
.task06-01 > p:nth-child(3) {
	list-style-image: url("img/location_4_16x16x1.png");
}
.task06-01 > p:nth-child(4) {
	list-style-image: url("img/vertical_text_4_16x16x1.png");
}

.task06-02 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.task06-02 > * {
	background: darkblue;
	--task06-02-base: 100px;
	width: var(--task06-02-base);
	max-width: var(--task06-02-base);
	height: var(--task06-02-base);
	max-height: var(--task06-02-base);
	margin: .3em;
}

.task06-02-long {
	height: calc(var(--task06-02-base) * 2);
	max-height: calc(var(--task06-02-base) * 2);
}
